*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
}
.nav a{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #4F9CF9;
    padding: 46px 110px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.section{
    display: flex;
    flex-direction: column;
    gap: 41px;
}
.article1{
    display: flex;
    align-items: centers;
}